# Ignore specific large files
zebrafish_cds_from_genomic.fna
axolotl_cds_from_genomic.fna
cds_predictions.csv
zebrafish_cds_from_genomic.fna
axolotl_cds_from_genomic.fna
__pycache__/
*.__pycache__
*.pyc
